/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

&nice_view_spi {
    status = "okay";
    nice_view: ls0xx@0 {
        compatible = "sharp,ls0xx";
        spi-max-frequency = <1000000>;
        reg = <0>;
        width = <160>;
        height = <68>;
    };
};

/ {
    chosen {
        zephyr,display = &nice_view;
    };
};

/* 右手のUSBシリアル（画像送信用）。zephyr_udc0 は eyelash_sofle の dtsi が定義 */
&zephyr_udc0 {
    art_cdc: art_cdc_acm_uart {
        compatible = "zephyr,cdc-acm-uart";
    };
};
